body{
    margin: 0;
    background-color: rgb(109, 134, 134);
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#title{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0px;
    color: white;

}
#description{
    color: white;

    font-style: italic;
    margin-top: 0px;
}

#survey-form{
    
    background: linear-gradient(skyblue, rgb(102, 199, 238));
    /* display: inline-block;
    position: fixed;
    right: 630px; */
    padding: 50px;
}
#name-label{
    margin-right: 150px;
    font-size: 20px;
}
#email-label{
    margin-right: 90px;
    font-size: 20px;

}
#number-label{
    margin-right: 140px;
    font-size: 20px;

}
#name, #email, #number, #text-area, #dropdown{
    padding-right: 80px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

#submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }